@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.blind{
    position: absolute;/*레이아웃에 영향을 없앰*/
    clip: rect(0 0 0 0);/*눈에 보이는 부분을 제거*/
    width: 1px;/*스크린 리더가 읽을 수 있도록*/
    height: 1px;/*스크린 리더가 읽을 수 있도록*/
    margin: -1px;/*눈에 보이는 부분을 제거*/
    overflow: hidden;/*눈에 보이는 부분을 제거*/
}

*{
    box-sizing: border-box;
}
html{
    word-break:keep-all;
    /* font-family:"Noto sans KR", sans-serif; */
    font-family:"Roboto", sans-serif;
}

a{
    display:block;
    text-decoration:none;
}
img{
    vertical-align:top;
}
button{
    border:0px none;
    background-color:transparent;
}

.d_none {
    display:none;
}
.pc_d_none{
    display:none;
}
.pc_d_view{
    display:block;
}
.laptop_d_view{
    display: none;
}
.mobile_d_view{
    display:none;
}
.tablet_d_view{
    display:none;
}
.mt_d_view{
    display:none;
}

.modal{
    display:none;
    z-index:10;
    position:fixed;
    top:0px;
    left:0px;
    text-indent:-9999px;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}

.p_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pc_head_1 {
	font-size: 36px;
	line-height:54px;
	letter-spacing:-0.7px;
}
.pc_head_2 {
	font-size: 24px;
	line-height: 36px;
	letter-spacing:-0.5px;
}
.pc_desc_text {
	font-size: 18px;
	line-height: 27px;

	letter-spacing:-0.2px;
    font-weight: 700;
}
.pc_smallest_text {
	font-size: 14px;
	line-height: 21px;
	letter-spacing:-0.3px;
}

/* .main_color{
	color:#33373D;
} */
.sub_color{
    color:var(--black1_color);
}

.container{
    width:1140px;
    margin:0px auto;
}

.en_font{
    font-family: "Roboto", sans-serif;
}

:root{
    /* color S */
    --main_color:#1434F6;
    --light_gray:#CDCFD1;

    --blue1_color: #011140;

    --white1_color:#FDFEFF;
    --white2_color:#F9FAFB;
    --white3_color:#FAFCFF;

    --black1_color:#33373D;
    --black2_color:#282828;

    --gray1_color:#5C5E63;
    --gray2_color:#A1A8AF;
    --gray3_color:#CDCFD1;
    /* color E */
    
    /* font S */
    /* pc S */
    --pc_font_size1:48px;
    --pc_font_size2:36px;
    --pc_font_size3:24px;
    --pc_font_size4:18px;
    --pc_font_size5:16px;
    --pc_font_size6:14px;
    --pc_font_size7:12px;
    
    --pc_line_height1:72px;
    --pc_line_height2:48px;
    --pc_line_height3:36px;
    --pc_line_height4:28px;
    --pc_line_height5:27px;
    --pc_line_height6:24px;
    --pc_line_height7:21px;
    /* pc E */

    --mt_font_size1:36px;
    --mt_font_size2:24px;
    --mt_font_size3:18px;
    --mt_font_size4:14px;
    --mt_font_size5:12px;
    
    
    --mt_line_height1:48px;
    --mt_line_height2:36px;
    --mt_line_height3:28px;
    --mt_line_height4:24px;
    --mt_line_height5:21px;
    /* font E */
}

/* animation S */

.fadein_up, .scale_ani, .success_ani{
    opacity:0;
}
.fadein_up.on{
    animation:fadein_up_ani 0.8s 0s forwards ease;
}

@keyframes fadein_up_ani{
    0%{
        display:none;
        opacity:0;
        transform:translateY(35px);
    }
    100%{
        display:block;
        opacity:1;
        transform:translateY(0px);
        
    }
}

.scale_ani.on{
    animation:scale_ani 0.8s 0s forwards ease;
}

@keyframes scale_ani{
    0%{
        display:none;
        opacity:0;
        transform:scale(50%)
    }
    100%{
        display:block;
        opacity:1;
        transform:scale(100%)
    }
}

.success_ani {
	transition: .3s;
	position: relative;
}
.success_ani.on {
	animation: success_ani 0.5s 0s forwards ease;
}
@keyframes success_ani{
    0%{
        display:none;
        opacity:0;
        left: -20px;
    }
    100%{
        display:block;
        opacity:1;
        left: 0;
    }
}

/* animation E */