@charset "utf-8";

/* Laptop small S */
@media all and (min-width:1024px) and (max-width:1440px){

}
/* Laptop E */

/* Tablet and Mobile S */
@media all and (max-width:1023px){

}
/* Tablet and Mobile E */

/* Tablet S */
@media all and (min-width:768px) and (max-width:1023px){
    .pc_d_none{
        display:block;
    }
    .pc_d_view{
        display:none;
    }
}
/* Tablet E */

/* Mobile S */
@media all and (max-width:767px){
	.road_map{
		padding-top: 100px;
	}
	.contents_body {
		margin-top: 80px;
	}
	.contents_body li{
		margin-bottom: 70px;
	}
	.contents_body li:last-of-type{
		margin-bottom: 50px;
	}
	.contents_body .roadmap_line{
		top: 5px;
		border-left: solid 1px var(--main_color);
	}
	.contents_body .date{
		padding-right: 22px;
		font-size: 14px;
		line-height: 24px;
	}
	.contents_body .road_txt{
		padding-left: 22px;
		font-size: 12px;
		line-height: 20px;
	}
	.contents_body .date .white_ball{
		width: 12px;
		height: 12px;
		top: 5px;
		right: -10px;
		border:  solid 1px var(--main_color);
	}
	.top_tit p{
		font-size: 24px;
		line-height: 26px;
	}
	.road_txt span {
		font-size: 9px;
	}
}
/* Mobile E */

/* Laptop ~  */
@media screen and (max-width:1024px) {
	.m-width-100{
		width: 100%;
	}
}
