.road_map{
	padding-top: 230px;
}
.font_color_black1{
	color: var(--black1_color);
}

.top_tit p{
	font-family: 'Roboto', 'Sans-serif';
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 48px;
	text-align: center;
}

.contents_body{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 160px;
	margin-bottom: 170px;
	padding-bottom: 1px;
}
.contents_body .roadmap_line{
	position: absolute;
	top: 0;
	left: 40%;
	width: 1px;
	height: 100%;
	border-left: var(--main_color) solid 2px;
}
.contents_body ul{
	position: relative;
	width: 100%;
}
.contents_body li{
	width: 100%;
	margin-bottom: 150px;
	display: flex;
	justify-content: center;
}
.contents_body .date{
	position: relative;
	width: 40%;
	padding-right: 40px;

	font-family: 'Roboto', 'sans-serif';
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.20000000298023224px;
	text-align: right;
	color: var(--main_color);
}
.contents_body .date .white_ball{
	position: absolute;
	top: 0;
	right: -20px;
	transform: translateX(-30%);

	width: 24px;
	height: 24px;
	background-color: #fff;
	border: 2px solid var(--main_color);
	border-radius: 100%;
}
.contents_body .road_txt{
	width: 60%;
	padding-left: 40px;
	font-size: 15px;
	font-weight: 400;
	line-height: 30px;
	text-align: left;
	color: var(--gray1_color);
}
.road_txt span {
	border-radius: 20px;
	font-size: 11.5px;
	margin-left: 8px;
	font-weight: 700;
	color: var(--main_color);
}