@charset "utf-8";

/* Laptop small S */
@media all and (min-width:1024px) and (max-width:1440px){
    .laptop_d_view{
        display: block;
    }
    /* hd S */
    #gnb{
        width:100%;
        padding:0px 30px;
    }
    .container{
        width:980px;
    }
    /*#ft>div{
        width:100%;
    }*/
    /* hd E */
}
/* Laptop E */

/* Tablet and Mobile S */
@media all and (max-width:1023px){
    .mt_d_view{
        display:block;
    }
    
    /* hd S*/
    #gnb{
        width:100%;
    }
    /* hd E */
    html, body{
        overflow-x:hidden;
    }
    #ft>div{
        padding:90px 20px 120px 20px;
    }
    .pc_d_none{
        display:block;
    }
    .pc_d_view{
        display:none;
    }
}
/* Tablet and Mobile E */

/* Tablet S */
@media all and (min-width:768px) and (max-width:1023px){
    .tablet_d_view{
        display:block;
    }
    
    .container{
        width:100%;
        padding-left:25px;
        padding-right:25px;
    }
    
    /* hd S */
    #gnb{
        padding:0px 25px;
    }
    #gnb>ul>li{
        margin-right:25px;
    }
    .lang>li>a{
        width: auto;
    }
    /* hd E */
    
}
/* Tablet E */

/* Mobile S */
@media all and (max-width:767px){
    .mobile_d_view{
        display:block;
    }
    
    .pc_head_1{
        line-height:var(--mt_line_height2);
        font-size:var(--mt_font_size2);
    }
    .pc_head_2{
        line-height:var(--mt_line_height3);
        font-size:var(--mt_font_size3);
    }
    .pc_desc_text, .pc_smallest_text{
        line-height:var(--mt_line_height5);
        font-size:var(--mt_font_size5);
    }
    
    .wrap{
        margin-top:55px;
    }
    
    section>.contents{
        padding: 52px 0px;
    }
    
    /* hd S */
    #hd{
        height:55px;
    }
    #gnb{
        padding:0px 20px;
    }
    
    #gnb>.logo>a>img{
        height:22px;
    }
    #gnb>.logo>a>span{
        font-size:16px;
    }
    
    .gnb_btn{
        display:flex;
        justify-content:flex-end;
        align-items:center;
    }
    .gnb_btn, #gnb>.gnb_btn>img{
        height:18px;
    }
    .gnb_btn>img:nth-of-type(2){
        display:none;
    }
    #gnb>ul{
        display:none;
        position:absolute;
        top:55px;
        left:0px;
        width:100%;
        background:#fff;
    }
    #gnb>ul>li{
        margin-right:0px;
    }
    #gnb>ul>li>a{
        width:100%;
        height:55px;
        line-height:55px;
        font-size:14px;
        border-bottom:1px solid #f1f2f3;
        padding:0px 25px;
        color:var(--black_color);
        outline-color:#f00;
    }
    /* hd E */
    .container{
        width:100%;
        padding-left:20px;
        padding-right:20px;
    }

    .lang_wrap>a{
        display: none;
    }
    .lang{
        display: flex;
        position: static;
        border:0px none;
        border: 0px;
        margin: 40px 0px 10px 0px;
    }
    .lang>li>a{
        width: 40px;
        text-align: center;
        padding: 0px;
    }
    .lang>li>a:first-of-type{
        margin-left: 15px;
    }


    
    /* team S */
    /* .core_member>ul, .developer>ul, .advisor>ul{
        flex-wrap:wrap;
        justify-content:flex-start;
    }
    .core_member>ul>li, .developer>ul>li, .advisor>ul>li{
        width:100%;
        height:135px;
        margin-bottom:25px;
        background-size:auto 80%;
    }
    
    
    
    .wrap .advisor>ul>li{
        margin-bottom:25px;
    }
     */
    /* team E */
}
/* Mobile E */
