@charset "utf-8";

@import url(./reset.css);

body{
    background-color: #000;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.line{
    background-color: #fff;
    filter: brightness(.9);
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    width: 0%;
    height: 2%;
    animation: lineAni 1s cubic-bezier(0.42, 0, 1, 0.35) forwards, lineAni2 1s cubic-bezier(0.42, 0, 1, 0.35) 1s forwards;
}

@keyframes lineAni {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

@keyframes lineAni2 {
    100%{
        height: 100%;
    }
}

.bgi{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url(../img/mainbg.jpg) center/cover;
    filter: brightness(.8);
    opacity: 0;
    animation: bgAni 1s linear forwards 1.97s;
}

@keyframes bgAni {
    100%{
        opacity: 1;
    }
}