@charset "utf-8";

@import url(./reset.css);

@media screen and (max-width:800px) {
    .titb{
        left: 10%;
    }

    .titb1{
        top: 60vh;
    }

    .titb2{
        top: 69vh;
    }

    .titb3{
        top: 78vh;
    }


}