@charset "utf-8";

@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);

/* 헤더배치 */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: #fff;
    height: 114px;
}

/* 메인로고 */
.header>.logo{
    width: 20%;
    height: 40px;
    text-align: center;
}

/* 네비게이션 배치 */

.header>.nav{
    width: 50%;
}
.header>.nav>.gnb{
    display: flex;
    justify-content: space-around;
}

.header>.nav>.gnb>li>a{
    font-size: 20px;
    font-weight: bold;
}
