@charset "utf-8";

@media screen and (max-width:1079px) {

    body{
        max-width: 1079px;
        overflow-x: hidden;
    }
    
/* 스크롤 부드럽게 */
html{
    scroll-behavior: smooth;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: #fff;
    height: 64px !important;
    z-index: 50;
    opacity: 0.8;
}

/* 메인로고 */
.header>.logo{
    /* margin-left: 8%; */
    width: 137px;
    height: 34px;
    position: absolute;
    top: 15px;
    left: 20px;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* outline: 1px solid red; */
}
.logo h1{
    height: 100%;
    width: 100%;
}
.logo a{
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -999em;
}

/* 데스크탑용 gnb, 햄버거바 */
.bar{
    position: relative;
    width: 20px;
    height: 20px;
    /* outline: 2px solid black; */
}

.bar span{
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #000;
}

.bar .bar1{top: 20%;}
.bar .bar2{top: 50%;}
.bar .bar3{top: 80%;}

.header>.nav{
    display: flex;
    position: absolute;
    right: 2px;
}

/* 일단 햄버거바 옆에뜨는 문구 삭제 */
.gnb{
    display: none;
}












/* section 2 */
#sec2{
    position: relative;
    box-sizing: border-box;
    background-color: #e7f3f6;
    overflow: hidden;
}

























/* 공사중 */
/* #header, #sec3, #sec4, #sec8, #sec7, #sec6, #sec9, #sec2{
    display: none;
}  */

/*  #sec1 */

}