@charset "utf-8";

@media screen and (max-width:1079px) {

html, body{
    overflow-x: hidden;
}

    body{
        max-width: 1079px;
    }
    

body .ibx{
    max-width: 1079px;
}


#header{
    width: 100vw;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: #fff;
    height: 64px !important;
    z-index: 50;
    opacity: 0.8;
    /* overflow: hidden; */
    justify-content: flex-end;
}

/* 메인로고 */
.header>.logo{
    /* margin-left: 8%; */
    padding-left: 20px;
    width: 137px;
    height: 34px;
    position: absolute;
    top: 15px;
    left: -20px;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* outline: 1px solid red; */
}
.logo h1{
    height: 100%;
    width: 100%;
}
.logo a{
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -999em;
}

/* 데스크탑용 gnb, 햄버거바 */
#header .bar{
    position: fixed;
    right: 20px;
    top: 22px;
    width: 20px;
    height: 20px;
    /* outline: 2px solid black; */
    z-index: 555;
    cursor: pointer;
    display: block;
}


.bar span{
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #000;
    transition: .5s ease-in-out;
}


.bar .bar1{top: 20%;}
.bar .bar2{top: 50%;}
.bar .bar3{top: 80%;}

/* 눌렀을때 X모양 변경 */
.bar.on .bar1{
    transform: rotate(45deg) translate(8px, 5px) scale(1.5);
}
.bar.on .bar2{
    opacity: 0; 
    transform: translate(30px, 3px);
}
.bar.on .bar3{
    transform: rotate(-45deg) translate(3px, -1px) scale(1.5);
}


#header .navbox{
    text-align: right;
    width: 130px;
    height: 30px;
    /* outline: 1px solid red; */
    position: relative;
    overflow: hidden;
    top: 10px;
}

#header .gnb{
    display: block;
    position: absolute;
}

/* 메뉴0 */
#header .gnb{
    top: 38px;
}

/* 메뉴1 */
#header .gnb{
    /* top: -3px; */
}

/* 메뉴2 */
#header .gnb{
    /* top: -39px; */
}

/* 메뉴3 */
#header .gnb{
    /* top: -76px; */
}

/* 메뉴4 */
#header .gnb{
    /* top: -112px; */
}

#header .gnb li{
    padding-bottom: 20px;
}

.gnb>li>a{
    font-size: 14px;
}


#header .nav2{
    display: block;
    position: fixed;
    z-index: 500;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    text-align: right;
    left: 100%;
    transition: .4s ease-in-out;
}

#header .nav2.on{
    left: 0;
    /* overflow: hidden; */
}

.gnb2{
    margin-top: 100px;
}

.gnb2 a {
    font-size: 4vh;
    font-weight: 800;
    display: block;
    padding: 3vh;
}

/********************* 메인영역 *********************/
/* section 1*/

.sec1 h2{
    font-size: 42px;
    line-height: 1.23;
}

.sec1 p{
    font-size: 20px; 
    line-height: 1.4;
}

@keyframes sec1Ani {
    0%{background-image: url(../images/mobile_main_01.jpg);}
    32%{background-image: url(../images/mobile_main_01.jpg);}
    33%{background-image: url(../images/mobile_main_02.jpg);}
    65%{background-image: url(../images/mobile_main_02.jpg);}
    66%{background-image: url(../images/mobile_main_03.jpg);}
    99%{background-image: url(../images/mobile_main_03.jpg);}
    100%{background-image: url(../images/mobile_main_01.jpg);}
}

#sec1>.sec1>h2{
    top: 70%;
    left: 13vw;
    line-height: 1.24;
}

@keyframes sec1h2Ani {
    to{
        top: 65%;
        opacity: 1;
    }
}






    


/* section 2 */
#sec2{
    position: relative;
    box-sizing: border-box;
    background-color: #e7f3f6;
    overflow: hidden;
    /* overflow: visible; */
    text-align: center;
}

.sec2{
    padding: 0;
    margin: 0;
}

.secb2{
    display: block;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
}

.secb2 h2{
    font-size: 42px;
    line-height: 1.23;
}


.secb2 p{
    width: 500px;
    margin-left: 0;
    font-size: 20px; 
    line-height: 1.4;
}





@media screen and (max-width:767px){

.sec2b1{
    width: 500vw;
    position: absolute;
    bottom: 0;
    z-index: 1;
    left: 0;
}



.sec2b1 img{
    position: absolute;
    left: 100px;
    bottom: 0;
    width: 500vw;
}

.sec2b1 .s2li{
    display: flex;
    position: absolute;
    width: 100%;
}

.s2li li{
    position: absolute;
    top: -650px;    
    flex: 1;
    box-sizing: border-box;
    width: 90vw;
    margin-left: 25px;
    background: rgba(255, 255, 255, 0.712);
    /* background-color: aqua; */
    text-align-last: left;
    height: 250px;
}

.s2li li:nth-child(1){
    left: 50vw;
    transform: translateX(-50vw);
}
.s2li li:nth-child(2){
    left: 150vw;
    transform: translateX(-50vw);
}
.s2li li:nth-child(3){
    left: 250vw;
    transform: translateX(-50vw);
}
.s2li li:nth-child(4){
    left: 350vw;
    transform: translateX(-50vw);
}
.s2li li:nth-child(5){
    left: 450vw;
    transform: translateX(-50vw);
}

/* 흰색줄 만들기 */
.s2li li::after{
    content: '';
    display: block;
    width: 4px;
    /* height: 100px; */
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50% -50%);
}

.s2li li:nth-child(1):after{height: 220px;}
.s2li li:nth-child(2):after{height: 220px;}
.s2li li:nth-child(3):after{height: 350px;}
.s2li li:nth-child(4):after{height: 200px;}
.s2li li:nth-child(5):after{height: 75px;}

.s2li li h3{
    font-size: 26px;
    font-weight: 800;
    margin: 30px 0 30px 30px;
}


.s2li li p{
    padding: 0;
    margin: 0;
    font-size: 18px;
    margin: 30px 0 30px 30px;
}

.s2li li span{
    margin: 50px 0 30px 30px;
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #ccc;
}

}/* sec2 미디어쿼리 767px이하 */

/* sec3 */

.sec3{
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}

.sec3 h2{
    font-size: 35px;
    line-height: 1.23;
}

.sec3 p{
    font-size: 18px;
    line-height: 1.4;
}

.sec3b2{
    min-width: 30%;
}

.sec3b2 img{
    max-width: 100%;
}


/* sec4 */
.sec4{
    text-align: center;
    flex-direction: column-reverse;
    padding-top: 100px;
}

#sec4 .sec4 h2{
    text-align: center;
    font-size: 35px;
    line-height: 1.23;
}

#sec4 .sec4 p{
    text-align: center;
    font-size: 18px;
    line-height: 1.4;
    margin-top: 20px;
}

/* section 5 */
.sec5{
    align-items: center;
    padding: 0;
    padding-top: 200px;
    flex-direction: column;
    text-align: center;
    position: relative;
    padding-bottom: 200px;
}

.sec5 h2{
    text-align: center;
    font-size: 35px;
    line-height: 1.23;
}

.sec5 p{
    text-align: center;
    font-size: 15px;
    line-height: 1.4;
    margin-top: 30px;
}

#sec5 .sec5 .tip{
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#sec5 .tip_box {
    top: 88px;
    left: 50%;
    transform: translateX(-50%);
}


.tip_box::after{
    top: -8px;
    left: calc(50% - 7.5px);
    transform: rotate(135deg);
}

.type{
    position: absolute;
    left: 50%;
    bottom: -3%;
    transform: translate(-50%, -50%) scale(.7);
}


.sec5b2 .pho{
    left: 5%;
    transform: scale(.8);
    /* max-width: 80%; */
}

/* 버튼 */
.pho .btl{
    top: 40%;
    left: -9%;
    transform: scale(.6);
}

.pho .btr{
    top: 40%;
    right: 3%;
    transform: scaleX(-1) scale(.6);
}


/* sec6 */


.sec6{
    align-items: center;
    padding: 0;
    padding-top: 150px;
    flex-direction: column-reverse;
    text-align: center;
}

.sec6 h2{
    text-align: center;
    font-size: 30px;
    line-height: 1.23;
}

.sec6 p{
    text-align: center;
    font-size: 16px;
    line-height: 1.4;
    margin-top: 30px;
}

.sec6b1{
    margin-top: 100px;
    display: flex;
    flex-direction: column-reverse;
}

.sec6b1 .tip1{
    position: static;
}

.sec6 .tip{
    left: 1px;
}

.sec6 .sec6b1 img{
    max-width: none;
    width: 107%;
    
}

.sec6b1 .tip_box{
    top: 38px;
    left: 50%;
    transform: translateX(-50%);

}




/* sec7 */




.sec7{
    align-items: center;
    padding: 0;
    padding-top: 150px;
    flex-direction: column;
    text-align: center;
}

.sec7 h2{
    text-align: center;
    font-size: 30px;
    line-height: 1.23;
}

.sec7 p{
    text-align: center;
    font-size: 16px;
    line-height: 1.4;
    margin-top: 30px;
}

.de1{
    font-size: 16px;
}

.sec7b1 .de1::after{
    left: 40.5%;
}

.sec7b2 img{
    max-width: none;
    width: 107%;
}


/* sec8 */

.sec8{
    align-items: center;
    padding: 0;
    padding-top: 150px;
    flex-direction: column-reverse;
    text-align: center;
}


.sec8 h2{
    text-align: center;
    font-size: 35px;
    line-height: 1.23;
}

.sec8 p{
    text-align: center;
    font-size: 18px;
    line-height: 1.4;
    margin-top: 30px;
    padding-bottom: 50px;
}

.sec8b1 {
    display: flex;
    flex-direction: column-reverse;
}

.sec8 .tip1{
    position: static;
    margin-bottom: 20px;
}

.sec8 .tip{
    position: static;
}

.sec8 .tip_box{
left: 50%;
transform: translateX(-50%);
top: 34px;
}

.sec8b1 img{
    position: relative;
    left: 7%;
}


/* sec9 */
.sec9 h2{
font-size: 40px;
line-height: 1.23;
}

.sec9 a{
font-size: 24px;
}

.sec9 a::after{
    width: 80%;
    left: 11px;
}


/************************ 푸터영역 ************************/
.logobox, .footer {
    padding-left: 20px;
}


.flogo{
    padding: 20px 0px;
    
}

.flogo img{
    width: 110px;
}

.footer address span{
    display: block;
    padding: 0;
    margin-bottom: -10px;
    font-size: 13px;
}

address span:first-child~span{
padding: 0;
}

address span:first-child~span::before{
display: none;
}


.footer p{
font-size: 13px;
padding-bottom: 10px;
}

.btn_top{
top: 16px;
}



/* 공사중 */
/* #header, #sec1, #sec2, #sec4, #sec5, #sec8, #sec7, #sec6, #sec9, #sec2{
    display: none;
}  */

/*  #sec1 */

}