@charset "utf-8";

@media screen and (max-width:1079px) {

    body{
        max-width: 1079px;
        overflow-x: hidden;
    }
    
/* 스크롤 부드럽게 */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: #fff;
    height: 64px !important;
    z-index: 50;
    opacity: 0.8;
    /* overflow: hidden; */
    justify-content: flex-end;
}

/* 메인로고 */
.header>.logo{
    /* margin-left: 8%; */
    width: 137px;
    height: 34px;
    position: absolute;
    top: 15px;
    left: 20px;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    /* outline: 1px solid red; */
}
.logo h1{
    height: 100%;
    width: 100%;
}
.logo a{
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -999em;
}

/* 데스크탑용 gnb, 햄버거바 */
#header .bar{
    position: fixed;
    right: 10px;
    top: 22px;
    width: 20px;
    height: 20px;
    /* outline: 2px solid black; */
    z-index: 555;
    cursor: pointer;
    display: block;
}


.bar span{
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #000;
    transition: .5s ease-in-out;
}


.bar .bar1{top: 20%;}
.bar .bar2{top: 50%;}
.bar .bar3{top: 80%;}

/* 눌렀을때 X모양 변경 */
.bar.on .bar1{
    transform: rotate(45deg) translate(8px, 5px) scale(1.5);
}
.bar.on .bar2{
    opacity: 0; 
    transform: translate(30px, 3px);
}
.bar.on .bar3{
    transform: rotate(-45deg) translate(3px, -1px) scale(1.5);
}


#header .navbox{
    text-align: right;
    width: 130px;
    height: 30px;
    /* outline: 1px solid red; */
    position: relative;
    right: 25px;
    top: 2px;
    overflow: hidden;
}

#header .gnb{
    display: block;
    position: absolute;
}

/* 메뉴0 */
#header .gnb{
    top: 38px;
}

/* 메뉴1 */
#header .gnb{
    /* top: 4px; */
}

/* 메뉴2 */
#header .gnb{
    /* top: -36px; */
}

/* 메뉴3 */
#header .gnb{
    /* top: -76px; */
}

/* 메뉴4 */
#header .gnb{
    /* top: -115px; */
}

#header .gnb li{
    padding-bottom: 20px;
}


#header .nav2{
    display: block;
    position: fixed;
    z-index: 500;
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
    left: 100%;
    transition: .4s ease-in-out;
}

#header .nav2.on{
    left: 0;
}

.gnb2{
    margin-top: 100px;
}

.gnb2 a {
    font-size: 40px;
    font-weight: 600;
    display: block;
    padding: 50px;
}

/********************* 메인영역 *********************/
/* section 1*/


@keyframes sec1Ani {
    0%{background-image: url(../images/mobile_main_01.jpg);}
    32%{background-image: url(../images/mobile_main_01.jpg);}
    33%{background-image: url(../images/mobile_main_02.jpg);}
    65%{background-image: url(../images/mobile_main_02.jpg);}
    66%{background-image: url(../images/mobile_main_03.jpg);}
    99%{background-image: url(../images/mobile_main_03.jpg);}
    100%{background-image: url(../images/mobile_main_01.jpg);}
}







/* section 2 */
#sec2{
    position: relative;
    box-sizing: border-box;
    background-color: #e7f3f6;
    overflow: hidden;
}

























/* 공사중 */
/* #header, #sec3, #sec4, #sec8, #sec7, #sec6, #sec9, #sec2{
    display: none;
}  */

/*  #sec1 */

}