@charset "utf-8";
/* 공통 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
/* font-family: 'Single Day', cursive; */
/* 공통디자인 CSS - common.css */
/* 상단영역, 하단영역 반복디자인  */

/* 공사중 표시 */
/* body *{
    outline: 2px dashed gray;
} */


/* 1. 상단영역 */
.header{
    min-height: 100px;
}

/* 2. 메인영역  */
.main{
    min-height: 800px;
}

/* 3. 하단영역 */
.footer {
    min-height: 200px;
}