@charset "utf-8";

#header{
    background: url(../img/footer.png) no-repeat center/cover;
}

.header h1{
    text-align: center;
    line-height: 100px;
}

.header h1 img{
    width: 25%;
    vertical-align: middle;
}

