@charset "utf-8";

/* 외부 CSS합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);

body{
    background-image: url(../img/main_visual.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover ;
    background-position: center;
}

/***************************** 헤더영역 *****************************/

/* 체크박스 없애기 */
input[type=checkbox]{
    display: none;
}

/* PC 버전 메뉴바 업애기 */
label{
    display: none;
}

#header{
    background: url(../img/footer.png) no-repeat center/cover;
}

.header h1{
    text-align: center;
    line-height: 100px;
    border-bottom: 2px solid #fff;
}

.header h1 img{
    width: 25%;
    vertical-align: middle;
}

/* 네비게이션 영역 */
.nwrap2 nav ul{
    display: flex;
    justify-content: center;
}

/* gnb1 */

.nwrap{
    display: none;
}

.nwrap2 .gnb2{
    height: 30px;
    width: 80%;
    margin: 0 auto;
    line-height: 30px;
}

.nwrap2 .gnb2 li{
    margin: 0 20px;
}

.nwrap2 .gnb2 ul a{
    color: rgba(255, 255, 255, 0.726);
    font-weight: bold;
    transition: 0.4s;
}

.nwrap2 .gnb2 ul a:hover{
    color: #333;
    font-weight: bold;
}


/********************************* 메인영역 *********************************/
.main{
    padding-top: 100px;
    box-sizing: border-box;
}


.pbx{
    width: 80%;
    display: flex;
    margin: 0 auto;
}

.pat{
    width: 183px;
    text-align: center;
    margin: 0 auto;
     /* 포지션 */
    position: relative;
}


.pat img{
 border-radius: 30px;
 border: 5px solid hotpink;
 padding: 8px;
 /* 오버시 애니메이션 */
 transition: 0.4s;
}

.pd {
    margin: 0 auto;
    width: 183px;
}

.pat p{
    text-align: left;
}

.pn{
    font-size: min(max(1.2vw, 16px), 18px);
    font-weight: bold;
    height: 30px;
    line-height: 20px;
    background: rgba(148, 101, 101, 0.507);
    color: pink;
    text-shadow: 1px 0 0 #000,-1px 0 0 #000,0 1px 0 #000,0 -1px 0 #000 ;
    width: 130px;
    margin: 0 auto;
    border-radius: 10px;
    border: 4px dotted rgba(128, 0, 128, 0.452);
    box-sizing: border-box;
    /* 포지션 */
    position: absolute; 
    bottom: 7%;
    left: 27px;
    font-family: 'Single Day', cursive;

     /* 오버시 애니메이션 */
    transition: 0.4s;
}

/* 프로필 설명 박스 */
.pd{
    width: 165px;
    max-height: 220px;
    /* 포지션 */
    position: absolute; 
    top: 15px;
    left: 10px;
    /* 넘치는부분 스크롤바 */
    overflow: auto;
    /* 오버전엔 안보이기 */
    opacity: 0;
    /* 오버시 애니메이션 */
    transition: 0.4s;
}

.pd h3{
    font-size: min(max(1.2vw, 16px), 18px);
    height: 30px;
    line-height: 30px;
    font-family: 'Single Day', cursive;
    font-weight: bold;
    text-shadow: 1px 0 0 cyan,-1px 0 0 cyan,0 1px 0 cyan,0 -1px 0 cyan ;
    color: purple;
}

.pd p{
    font-size: min(max(1.1vw,14px), 16px);
    line-height: 20px;
    font-family: 'Single Day', cursive;
    color: #fff;
    text-shadow: 1px 0 0 #000,-1px 0 0 #000,0 1px 0 #000,0 -1px 0 #000 ;
    text-align: justify;
    word-spacing: 1px;
    letter-spacing: 1px;
}

/************************** 오버시 프로필 설명 박스 나오게 하기 **************************/

/* 오버시 어두워지고 조금 커지기 */
.pat:hover img{
    filter: brightness(0.2);
    transform: scale(1.2);
}

.pat:hover .pn{
    filter: brightness(0.4);
    transform: scale(1.2);
    bottom: 3%;
}

.pat:hover .pd{
    opacity: 1;
}







/**************************** 하단영역 ****************************/
#footer{
    background-color: rgba(51, 51, 51, 0.521);
}

/* fgnb */
.footer .fgnb ul{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.footer .fgnb{
    height: 30px;
    width: 80%;
    margin: 0 auto;
    line-height: 30px;
}

.footer .fgnb li{
    margin: 0 20px;
}

/* 회사정보 */

.footer{
    text-align: center;
}

.footer p{
    margin-top: 80px;
    color: #fff;
    font-size: 14px;
}

.fgnb img{
    border-radius: 50%;
    transition: 0.2s;
}

.fgnb img:hover{
    filter: brightness(0.7);
}

/* 푸터로고 */
.footer>a{
    display: block;
    padding-top: 20px;
}






/******************************* 미디어쿼리 *******************************/
@media screen and (max-width:1035px) {

    /* 작업할떄 없어질거 */
    body{
        background-image: none;
    }
    .main, .footer{
    display: none;
    }

    /**********************************************************/



    .header h1{
        border: none;
    }

    /* 모바일 버전 메뉴바 나오게하기 */
    label{
        display: block;
        position: absolute;
    }

    label.bar{
        left: 10%;
        top: 30%;
    }

    i.fa-bars{
        font-size: min(max(3vw,30px),40px);
    }

    .header h1 img{
        width: 35%;
    }

    /* 메뉴바 클릭시 네비게이션 나오게하기 */

    body{
        position: relative;
    }

    .nwrap2{
        display: none;
    }

    .nwrap{
        position: absolute;
        width: 100%;
        height: 100%;
        background: white;
        z-index: 5;
    }

    label.close{
        top: 5%;
        right: 10%;
    }

    i.fa-xmark{
        font-size: min(max(3vw,35px),45px);
    }
    .nwrap .gnb{
        position: absolute;
        z-index: 2;
    }

    .nwrap .gnb ul{
    display: block;
    margin-top: 50px;
    }

    .nwrap .gnb ul li{
        margin-top: 50px;
    }

    .nwrap .gnb ul li a{
        color: black;
        font-size: 20px;
    }


















    /* 배치 2개씩 */
    .pbx{
        columns: 2;
        display: block;
    }

    .pat{
        margin-bottom: 50px;
    }

    #footer{
        margin-top: 50px;
    }

    .footer .fgnb li{
        margin: 0 10px;
    }
}



@media screen and (max-width:500px) {
    .header h1 img{
        width: 45%;
    }


    .pbx{
        display: block;
        columns: unset;
    }

    .pat{
        margin-bottom: 30px;
    }

}






